extends ../common/layout

block layout-content
  h1 Admin Registration
  if error
    p(style="color:red") #{error}
  form(action="/admin/register", method="POST")
    input(type="text", name="username", placeholder="Username", required)
    input(type="password", name="password", placeholder="Password", required)
    button(type="submit") Register
  p
    | Already have an account? 
    a(href="/admin/login") Login here.
