footer
  .footer-container
   .social-links
    a(href="https://linkedin.com/in/suman-rani-b60155260", target="_blank", title="LinkedIn")
      i(class="fab fa-linkedin") LinkedIn
    a(href="https://github.com/codesumanr", target="_blank", title="GitHub")
      i(class="fab fa-github") GitHub
    a(href="mailto:sumankamboj1997@gmail.com", title="Email")
      i(class="fas fa-envelope") Email
  .contact-info
    | © 2025 My Portfolio. All Rights Reserved.
