header
  .navbar
    .logo
      a(href="/") My Portfolio
    nav
      ul
        li 
          a(href="/") Home
        li 
          a(href="/projects") Projects
        li 
          a(href="/admin") Admin

  
